h1{
    background-color: red;
}
#division{
    color: purple;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 10px 10px;
}
.black{
    color: green;
}
H4{
    background-color: YELLOW;
}
